#root {
  min-height: 100vh;
  width: 100vw;

  margin-top: 7rem;

  #main-nav {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 10;

    font-family: var(--font2);
    display: flex;

    transition: all 1000ms ease;

    a {
      font-size: var(--size7);
      align-items: center;
      justify-content: space-around;
      margin-left: 1rem;
      color: var(--color3);
    }

    & :hover,
    & :focus {
      text-decoration: underline 3px solid red;
    }

    background-color: var(--color2);
    box-shadow: var(--shadow5);
  }
}
