@import url("defaults.css");

#container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  z-index: 2;

  padding: 5rem 1rem;
  margin-bottom: 20rem;

  box-shadow: var(--shadow5);
  background-color: var(--white);

  .nav-reveal {
    z-index: 5;
    position: fixed;
    inset: 1rem 3rem auto;
    cursor: pointer;

    width: fit-content;
    background-color: #fff4;
    backdrop-filter: blur(20px);

    & ::marker {
      content: "";
    }

    & summary {
      font-family: var(--font2);
      font-size: var(--size6);
    }

    & summary::before {
      position: absolute;
      content: "➕";

      padding: 0;
      top: -0.25rem;
      left: -2rem;
      transition: all 400ms ease-out;
    }
  }

  [open] > summary::before {
    rotate: 45deg;
    transform-origin: center;
  }

  [open] > #nav a {
    grid-template-rows: 1fr;
  }

  #nav {
    z-index: 5;
    padding: 1rem;
    width: fit-content;

    display: flex;

    font-family: var(--font1);
    box-shadow: var(--shadow5);

    transition: all 1000ms;
    a {
      font-size: var(--size5);
      align-items: center;
      justify-content: space-around;
      margin-left: 1rem;

      transition: letter-spacing 350ms;
    }

    a:last-child {
      padding-right: 2rem;
    }

    & :hover,
    & :focus {
      letter-spacing: 0.1rem;
      scale: 1.1;
      text-decoration: underline 3px solid var(--accent1);
    }
  }

  .top-right-btns {
    position: fixed;
    inset: 1rem 1rem auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  #tog,
  #cart {
    border: none;
    font-size: var(--size7);
    background-color: unset;

    place-self: center;
  }

  #cart {
    right: 5rem;
  }

  .profileDiv {
    position: sticky;
    inset: auto 1rem 1rem 90%;
    width: 11rem;
    display: flex;
    gap: 1rem;

    clip-path: circle(28% at 85% 50%);
    transition: clip-path 1s;
  }
  .profileDiv img {
    margin-left: 1rem;
    object-fit: contain;
    object-position: center;
  }
  .profileDiv:hover {
    clip-path: circle(200%);
  }
}

#footer {
  z-index: 1;
  position: fixed;
  inset: auto 0 0 0;
  display: flex;
}
